:root {
  --img1: url(imagesForTripsPage/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
  --img2: url(imagesForTripsPage/charles-black-F7HGqkkMYAU-unsplash.jpg);
  --img3: url(imagesForTripsPage/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg);
  --img4: url(imagesForTripsPage/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
  --img5: url(imagesForTripsPage/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg);
  --img6: url(imagesForTripsPage/img1.jpg);
  --img7: url(imagesForTripsPage/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
  --img8: url(imagesForTripsPage/jeffrey-keenan-pUhxoSapPFA-unsplash.jpg);
  --img9: url(imagesForTripsPage/julian-bialowas-ilkTnuMunP8-unsplash.jpg);
  --img10: url(imagesForTripsPage/reviews1.jpg);
  --img11: url(imagesForTripsPage/reviews2.jpg);
}
body {
  margin: 0;

  font-family: "Inter", sans-serif;
}

/*styles for Trips page--------------------------------------------------*/

.main {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-template-rows: repeat(3, 200px);
  margin: 0 auto;
  width: 800px;
  height: 800px;
  gap: 15px;
  height: auto;

  padding: 0;
}
.image {
  display: inline-block;

  background-repeat: no-repeat;
  width: 230px;
  height: 200px;

  margin: 10px;
}
.image1 {
  background: var(--img1);
  background-size: cover;
}

.image2 {
  background: var(--img2) 50% 50%;
  background-size: cover;
}
.image3 {
  background: var(--img3) 50% 50%;
  background-size: cover;
}
.image4 {
  background: var(--img4) 50% 50%;
  background-size: cover;
}
.image5 {
  background: var(--img5) 50% 50%;
  background-size: cover;
}
.image6 {
  background: var(--img6) 50% 50%;
  background-size: cover;
}
.image7 {
  background: var(--img7) 50% 50%;
  background-size: cover;
}
.image8 {
  background: var(--img8) 50% 50%;
  background-size: cover;
}
.image9 {
  background: var(--img9) 50% 50%;
  background-size: cover;
}
.image10 {
  background: var(--img10);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  background-color: #ddd;
}

.image11 {
  background: var(--img11);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  background-color: #ddd;
}

.image5 {
  font-weight: bold;
  display: inline-block;
  align-items: center;

  line-height: 200px;
  background-color: rgb(233, 233, 232);
  background-image: none;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 650px) {
  .main {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(9, 300px);
    width: 300px;
    position: relative;
    gap: 0px;
  }
  .image {
    width: 300px;
    height: 250px;
  }
  .image5 {
    line-height: 250px;
    grid-area: 1/1;
  }
}
/*-----------------------------------------------------------------------------*/
.navbar {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 80px;
  line-height: 80px;
  background-color: #33292a;
  color: white;
  list-style: none;
  font-size: 30px;
}

.homePage {
  background: url(fotky/yourTravelAssisstant.jpg) 50% 50%;
  height: 100vh;
  width: auto;
  border: 3px solid red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutPage {
  display: flex;
  align-items: center;
  height: 50vh;
  width: auto;
  border: 3px solid red;
}
.left {
  width: 50%;
  overflow: hidden;
  
  font-size: clamp(9px, 2vw, 15px);
  margin-right: 10px;
}
.right {
  width: 50%;
  background-image: url("fotky/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content1 {
}

.whatWeDoPage {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: auto;
  border: 3px solid red;
  background-color: #33292a;
  justify-content: center;
  align-items: center;
}

.TripsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  border: 3px solid red;
}

.whereToGoPage {
  background-color: #5e4b4b;
  height: auto;
  min-height: auto;
  width: auto;
  border: 3px solid red;
}

.reviewPage {
  height: auto;
  width: auto;
  border: 3px solid red;
  padding-top: 50px;
  padding-bottom: 50px;
}

.picsPage {
  height: 100vh;
  width: auto;
  border: 3px solid red;
}

.content1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 40%;
  height: 70%;
}

.whatWeDoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  overflow: hidden;
  color: white;
}

.iconsDiv {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.icon {
  flex-direction: column;
  height: 160px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 23px;
  font-weight: 600;
  color: white;
}
svg {
  height: 60px;
  width: 60px;
}

.whereToGoContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.whereToGoLeft {
  flex: 0.8;
}

.whereToGoLeft h2 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
  margin-left: 100px;
}

.whereToGoRight {
  flex: 1.2;
}

.whereToGoRight p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.contactBtn {
  background-color: #fff;
  color: #333;
  padding: 15px 30px;
  font-size: 0.9rem;
  font-weight: 800;
  border-radius: 4px;
  margin-top: 40px;
}

.reviewContainer {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.reviewHeading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.reviewIntro {
  max-width: 700px;
  margin: 0 auto 60px auto;
  line-height: 1.6;
  color: #555;
  text-align: center;
}

.reviewsGrid {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
}

.reviewItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewText {
  font-size: 0.95rem;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

.reviewName {
  font-weight: 700;
  margin-bottom: 0;
}
