
:root{

--img1:url(imagesForTripsPage/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
--img2:url(imagesForTripsPage/charles-black-F7HGqkkMYAU-unsplash.jpg);
--img3:url(imagesForTripsPage/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg);
--img4:url(imagesForTripsPage/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
--img5:url(imagesForTripsPage/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg);
--img6:url(imagesForTripsPage/img1.jpg);
--img7:url(imagesForTripsPage/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
--img8:url(imagesForTripsPage/jeffrey-keenan-pUhxoSapPFA-unsplash.jpg);
--img9:url(imagesForTripsPage/julian-bialowas-ilkTnuMunP8-unsplash.jpg);

}
body {

  margin: 0;

  font-family: "Inter", sans-serif;

}




/*styles for Trips page--------------------------------------------------*/




.main{

display: grid;
grid-template-columns: repeat(3,230px);
grid-template-rows: repeat(3,200px);
margin: 0 auto;
width: 800px;
height: 800px;
gap: 15px;
height: auto;


padding: 0;
}
.image{
    
    display: inline-block;
    
    background-repeat: no-repeat;
    width: 230px;
    height: 200px;
    
    
    
    
    margin: 10px;
}
.image1{
    
    background: var(--img1);
    background-size: cover;
}

.image2{ 
    background: var(--img2) 50% 50%;
background-size: cover;

}
.image3{ background: var(--img3) 50% 50%;
background-size: cover;
}
.image4{ background: var(--img4) 50% 50%;
background-size: cover;}
.image5{ background: var(--img5)  50% 50%;
background-size: cover;}
.image6{ background: var(--img6)  50% 50%;
background-size: cover;}
.image7{ background: var(--img7)  50% 50%;
background-size: cover;}
.image8{ background: var(--img8)  50% 50%;
background-size: cover;}
.image9{ background: var(--img9)  50% 50%;
background-size: cover;

}


.image5{
    font-weight: bold;
    display: inline-block;
    align-items: center;
    
    line-height: 200px;
    background-color: rgb(233, 233, 232);
    background-image: none;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    
}

@media (max-width:650px){
.main{
    grid-template-columns: repeat(1,300px);
    grid-template-rows: repeat(9,300px);
    width: 300px;
    position: relative;
    gap: 0px;
}
.image{
    
    width: 300px;
    height: 250px;
    


}
.image5{

   line-height: 250px; 
   grid-area: 1/1;
}
    
}
/*-----------------------------------------------------------------------------*/
.navbar {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 80px;
  line-height: 80px;
  background-color: #33292a;
  color: white;
  list-style: none;
  font-size: 30px;
}

.homePage {
  background: url(fotky/yourTravelAssisstant.jpg) 50% 50%;
  height: 100vh;
  width: auto;
  border: 3px solid red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutPage {
  display: flex;
  align-items: center;
  height: 50vh;
  width: auto;
  border: 3px solid red;
}

.whatWeDoPage {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: auto;
  border: 3px solid red;
  background-color: #33292A;
  justify-content: center;
  align-items: center;
}

.TripsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  border: 3px solid red;


}

.whereToGoPage {

  height: 50vh;
  width: auto;
  border: 3px solid red;

}

.reviewPage {
  height: 50vh;
  width: auto;
  border: 3px solid red;

}

.picsPage {
  height: 100vh;
  width: auto;
  border: 3px solid red;

}

.content1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 40%;
  height: 70%;
  overflow: hidden;
}

.left {
  padding-left: 10px;
  width: 50%;
  font-size:14px;
  margin-right: 5px
}

.right {
  background: url(fotky/about.jpg) 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5000;
  width: 50%;
}
.whatWeDoDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  overflow: hidden;
  color: white;
}

.iconsDiv{
  height: 50%;
  width: 50%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
}
.icon{
  flex-direction: column;
  height: 160px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 23px;
  font-weight:600 ;
  color: white;
}
svg{
height: 60px;
width: 60px;
}