body {

  margin: 0;


}

.navbar {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 80px;
  line-height: 80px;
  background-color: #33292a;
  color: white;
  list-style: none;
  font-size: 30px;
}

.homePage {
  background: url(fotky/yourTravelAssisstant.jpg) 50% 50%;
  height: 100vh;
  width: auto;
  border: 3px solid red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutPage {
  display: flex;
  align-items: center;
  height: 50vh;
  width: auto;
  border: 3px solid red;
}

.whatWeDoPage {
  height: 50vh;
  width: auto;
  border: 3px solid red;

}

.TripsPage {

  height: 100vh;
  width: auto;
  border: 3px solid red;


}

.whereToGoPage {

  height: 50vh;
  width: auto;
  border: 3px solid red;

}

.reviewPage {
  height: 50vh;
  width: auto;
  border: 3px solid red;

}

.picsPage {
  height: 100vh;
  width: auto;
  border: 3px solid red;

}

.content1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 40%;
  height: 70%;
  overflow: hidden;
  background-color: rgb(189, 183, 183);
}

.left {
  padding-left: 10px;
  background-color: rgb(194, 196, 196);
  width: 50%;
}

.right {
  background: url(fotky/aboutUs.jpg) 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5000;
}